@import url(styles.css);
@import url(gyouji.css);

.form-box {
    margin: 50px 100px;
}
.fm01, .fm02 {
    display: flex;
    justify-content: center;
    height: 66px;
    padding-bottom: 8px;
    // border-bottom: 2px solid pink;
}
.fm02 {
    margin-top: 32px;
}
.name1 {
    width: 630px;
    border-bottom: 2px solid pink;
}
span.his {
    color: red;
    padding-right: 30px;
}
.hisx {
    padding-right: 30px;
    color: gray;
}
.span {
    font-size: 30px;
}
.deta {
    font-size: 25px;
    padding-right: 30px;
}
.deta2 {
    font-size: 10px;
}
.text {
    width: 200px;
    border-bottom: 2px solid pink;
}
.botton-k {
    height: 40px;
    width: 110px;
    cursor: pointer;  
    font-family: 'Yomogi', cursive;
    background-color: white;
    border-radius: 15px;
    color: pink;
    border: 2px solid pink; 
    margin-top: 60px;

    &:hover {
        color: white;
        transition: background-color 0.5s;
        font-weight: bolder;
        background-color: pink;
        border: 2px solid pink;
    }
}
.botton-b {
    height: 40px;
    width: 110px;
    cursor: pointer;  
    font-family: 'Yomogi', cursive;
    background-color: white;
    border-radius: 15px;
    color: #bae9eb;
    border: 2px solid #bae9eb; 
    margin-top: 60px;

    &:hover {
        color: white;
        transition: background-color 0.5s;
        font-weight: bolder;
        background-color: #bae9eb;
        border: 2px solid #bae9eb;
    }
}
.bottom {
    display: flex;
    justify-content: center;
}
.header1 {
    background: url(../images/bg-header.png) center / cover;
}
.fotter {
    height: 260px;
    background: url(../images/bg-footer.png) center / cover;
}